#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #e25041;
}
#menu-0 .mbr-navbar__section {
  background: #e25041;
}
#menu-0 .mbr-navbar__hamburger {
  color: #faaf40;
}
#menu-0 .mbr-brand__name a {
  font-size: 20px;
}
#header3-1 P {
  text-align: center;
  color: #cccccc;
}
#header3-1 H3 {
  text-align: center;
  color: #e25041;
  font-size: 30px;
}
#header4-3 P {
  text-align: right;
  color: #e25041;
  font-size: 22px;
}
#header4-3 H1 {
  color: #e25041;
}
#header3-7 P {
  font-size: 46px;
  color: #e25041;
  text-align: left;
}
#features1-6 P {
  color: #ffffff;
}
#features1-6 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#footer1-8 P {
  color: #ffffff;
}
#menu-9 .mbr-brand__name {
  font-size: 16px;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #e25041;
}
#menu-9 .mbr-navbar__section {
  background: #e25041;
}
#menu-9 .mbr-navbar__hamburger {
  color: #faaf40;
}
#menu-9 .mbr-brand__name a {
  font-size: 20px;
}
#footer1-a P {
  color: #ffffff;
}
#msg-box4-b .mbr-header__text {
  color: #ffffff;
}
#msg-box4-b .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-b .mbr-article {
  color: #ffffff;
}
#menu-i .mbr-brand__name {
  font-size: 16px;
}
#menu-i.mbr-navbar--stuck .mbr-navbar__section {
  background: #e25041;
}
#menu-i .mbr-navbar__section {
  background: #e25041;
}
#menu-i .mbr-navbar__hamburger {
  color: #faaf40;
}
#menu-i .mbr-brand__name a {
  font-size: 20px;
}
#footer1-j P {
  color: #ffffff;
}
#msg-box5-l .mbr-header__text {
  color: #ffffff;
}
#msg-box5-l .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-l .mbr-article {
  color: #ffffff;
}
#msg-box5-m .mbr-header__text {
  color: #ffffff;
}
#msg-box5-m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-m .mbr-article {
  color: #ffffff;
}
#menu-n .mbr-brand__name {
  font-size: 16px;
}
#menu-n.mbr-navbar--stuck .mbr-navbar__section {
  background: #e25041;
}
#menu-n .mbr-navbar__section {
  background: #e25041;
}
#menu-n .mbr-navbar__hamburger {
  color: #faaf40;
}
#menu-n .mbr-brand__name a {
  font-size: 20px;
}
#footer1-o P {
  color: #ffffff;
}
#msg-box3-u .mbr-header .mbr-header__text {
  text-align: center;
  color: #e25041;
}
#msg-box3-u .mbr-header .mbr-header__subtext {
  text-align: center;
}
